<h2>Search</h2>
<form action="/search-users/" method="get">
  <div class="input-group">
    <input type="text" name="username" placeholder="username" class="form-control" value="{{query}}" required />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Search!</button>
    </span>
  </div>
</form>