<h1>Edit Profile</h1>
{{>errors}}
<form action="/edit-profile" method="post">
   <div class="form-group">
      <label for="username">User: {{userData.username}}</label>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" class="form-control" required />  
  </div>
  <div class="form-group">
    <label for="full-name">Full Name</label>
    <input type="text" name="fullName" placeholder="full name" value="{{userData.fullName}}" class="form-control" required />
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" name="email" placeholder="email address" value="{{userData.email}}" class="form-control" required />
  </div>
  <button class="btn btn-primary">Update Profile</button>
</form>